<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>botao</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">botao</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>botao</h1>
  <p>texto aleatório texto aleatório texto aleatório texto aleatório texto aleatório texto aleatório texto aleatório 
    texto aleatório texto aleatório texto aleatório texto aleatório texto aleatório texto aleatório texto aleatório 
    texto aleatório texto aleatório texto aleatório texto aleatório texto aleatório texto aleatório 
    texto aleatório texto aleatório texto aleatório texto aleatório 
  </p>
</ion-content>
